<!DOCTYPE HTML>
<html lang="en">
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	

</head>
<body>
	
	<div class="main-area center-text" style="background-image:url(./images/img1.jpg);">
		
		<div class="display-table">
			<div class="display-table-cell">
				
				<h1 class="title font-white"><b>Coming Soon</b></h1>
				<p class="desc font-white" >Our website is currently under construction.   <br><br> Get ready we"ve got <span style="color: rgb(129, 129, 243); font-size: 1.9rem;" > Signals </span> in our bags </p>
				
				<a class="notify-btn" href="https://t.me/forexanalyticalegit"><b>see more</b></a>
				
				<ul class="social-btn font-white">
					<li><a href="https://facebook.com/fxanalytica">facebook</a></li>
					<li><a href="https://twitter.com/fxanalytica">twitter</a></li>
					<li><a href="https://t.me/forexanalyticalegit">telegram</a></li>
					<li><a href="https://www.instagram.com/fxanalytica">whatsapp</a></li>
					<h6 class="desc font-white">fxanalytica | Copyright @ 2020</h6>
				</ul><!-- social-btn -->
				
			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->

	
</body>
</html>